@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Fredoka+One&display=swap');
:root {
    --clr-neon: hsl(195 90% 61%);
    --clr-bg: hsl(195 60% 11%);
  }
  * {
	box-sizing: border-box;
}
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    place-items: center;
    background: var(--clr-bg);
    font-family: "Balsamiq Sans", cursive;
    color: var(--clr-neon);
    margin: 0;
  }
  
  @keyframes myanimation
  {
    0%   {background-color:red; left:35%; top:35%; transform: translate(-50%, -50%);}
    25%   {background-color:yellow; left:65%; top:35%; transform: translate(-50%, -50%);}
    50%   {background-color:blue; left:65%; top:80%; transform: translate(-50%, -50%);}
    75%   {background-color:green; left:35%; top:80%; transform: translate(-50%, -50%);}
    100%   {background-color:red; left:35%; top:35%; transform: translate(-50%, -50%);}
  }

  @keyframes text-flicker
  {
    0% {box-shadow: none; text-shadow: none;}
    3% {box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;}
    30% {box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;}
    31% {box-shadow: none; text-shadow: none;}
    33% {box-shadow: none; text-shadow: none;}
    34% {box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;}
    37% {box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;}
    38% {box-shadow: none; text-shadow: none;}
    40% {box-shadow: none; text-shadow: none;}
    41% {box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;}
    100% {box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;}
  }

  @keyframes shadow-flicker
  {
    0%{opacity:0%;}
    3%{opacity: 100%;}
    30%{opacity: 100%;}
    31%{opacity: 0%;}
    33%{opacity: 0%;}
    34%{opacity: 100%;}
    37%{opacity: 100%;}
    38%{opacity: 0%;}
    40%{opacity: 0%;}
    41%{opacity: 100%;}
    100%{opacity: 100%;}
  }

  .dancingBox{
    animation: myanimation 10s infinite;
    border-radius: 50%;
    padding: 30px;
  }

  .contact-me{
    background-color: white;
    position: absolute;
    top: 2rem;
    right: 5rem;
  }
  // $randomNumber: random(11);
  .neon-button { //none 0 ease 0 1 normal none running
    animation: text-flicker 20s ease infinite;
    font-size: 4rem;
    font-family: 'Fredoka One', cursive;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    -ms-transform: skewY(100deg); /* IE 9 */
    transform: skewY(-8deg);
    text-align: center;
    position: relative;
  }

  
  .neon-button::before {
    animation: shadow-flicker 20s ease infinite;
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }

  .neon-text::after,
  .neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }

  .neon-header {
    font-size: 4rem;
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
    color: var(--clr-neon);
    padding: 0.25em 1em;
    text-align: center;
    justify-content: center;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    position: relative;
  }

  .neon-text {
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    font-size: 2rem;
    font-family: 'Fredoka One', cursive;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    -ms-transform: skewY(100deg); /* IE 9 */
    transform: skewY(-8deg);
    text-align: center;
    position: relative;
  }

  .neon-header::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 70%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(30deg) scale(2, 0.35);
    filter: blur(1.5em);
    opacity: 0.7;
  }


  .neon-button:hover,
  .neon-button:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }

  
  
  
  .neon-text:hover::before,
  .neon-text:focus::before,
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  
  .neon-text:hover::after,
  .neon-text:focus::after,
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0 0 0 / 12%);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(179 0 179);
  }



.grid-container-1{
display: grid;
grid-template-columns: repeat(2, auto);
grid-auto-rows: minmax(150px, auto);
justify-content: center;
align-content: center;
margin-top: 2rem;
gap: 10rem;
}

.grid-container-2{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: minmax(150px, auto);
    justify-content: center;
    margin-top: 2rem;
    gap: 20rem;
}

.grid-container-3{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-auto-rows: minmax(150px, auto);
    justify-content: center;
    margin-top: 2rem;
    column-gap: 10rem;
}
.mobile-contact{
    display: none;
}
  .dillon-pic{
    display: flex;
    justify-content: center;
    height: 40vh;
    max-width: 100%;
  }
  .project-display{
    margin: auto
}

  @media only screen and (max-width: 600px) {

    .grid-container-3{
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-auto-rows: minmax(150px, auto);
      justify-content: center;
      margin-top: 2rem;
      column-gap: 3rem;
  }
    .contact-me{
        display: none;
      }

    .mobile-contact{
        position: fixed;
        z-index: 1;
        bottom: 4rem;
        right: 1rem;
        display: flex;
    }

    .dancer{
        height: 5rem;
      }

    .dillon-pic{
        display: flex;
        justify-content: left;
        align-content: left;
        margin: auto;
        height: 20rem;
      }

    .grid-container-1{
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-auto-rows: minmax(150px, auto);
        justify-content: center;
        align-content: center;
        margin-top: 2rem;
        gap: 0rem;
    }
    .grid-container-2{
        display: grid;
        grid-template-columns: repeat(1, 150px);
        grid-auto-rows: minmax(150px, auto);
        justify-content: center;
        margin-top: 2rem;
        gap: 0rem;
    }
    .project-display{
        margin-left: -6.3rem;
    }
    .neon-button {
        font-size: 2rem;
        font-family: 'Fredoka One', cursive;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        color: var(--clr-neon);
        border: var(--clr-neon) 0.0125em solid;
        padding: 0.025em .5em;
        border-radius: 0.025em;
        -ms-transform: skewY(100deg); /* IE 9 */
        transform: skewY(-8deg);
        text-align: center;
        text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
        box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
        position: relative;
      }
      
      .neon-header {
        font-size: 1.5rem;
        font-family: 'Fredoka One', cursive;
        text-decoration: none;
        color: var(--clr-neon);
        padding: 0.25em 1em;
        text-align: center;
        justify-content: center;
        text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
        position: relative;
      }
    
      .neon-text {
        font-size: 1rem;
        font-family: 'Fredoka One', cursive;
        text-decoration: none;
        color: var(--clr-neon);
        text-align: center;
        text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
        position: relative;
      }
    
      .neon-header::before {
        pointer-events: none;
        content: "";
        position: absolute;
        background: var(--clr-neon);
        top: 70%;
        left: 0;
        width: 100%;
        height: 100%;
      
        transform: perspective(1em) rotateX(30deg) scale(2, 0.35);
        filter: blur(1.5em);
        opacity: 0.7;
      }
      
    
      .neon-button::before {
        pointer-events: none;
        content: "";
        position: absolute;
        background: var(--clr-neon);
        top: 120%;
        left: 0;
        width: 100%;
        height: 100%;
      
        transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
        filter: blur(1em);
        opacity: 0.7;
      }
      
      .neon-button::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 2em 0.5em var(--clr-neon);
        opacity: 0;
        background-color: var(--clr-neon);
        z-index: -1;
        transition: opacity 100ms linear;
      }
      
      
  }